<nz-layout class="layout-container">
  <nz-header>
    <div class="logo">
      <span>Evento</span>
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-menu">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        [routerLink]="['/events/create']"
      >
        <i nz-icon nzType="plus"></i>Create New Event
      </button>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
