<nz-layout class="layout-container">
  <nz-header>
    <a class="logo" [routerLink]="['/events']">
      <img src="../../../../assets/images/logo.png" height="75" />
    </a>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" class="header-menu">
      <button nz-button nzType="primary" [routerLink]="['/events/create']">
        <i nz-icon nzType="plus"></i> New Event
      </button>
    </ul>
  </nz-header>
  <nz-content class="outer-content">
    <nz-layout class="inner-layout">
      <nz-content class="inner-content">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-content>
</nz-layout>
